--find-links /usr/local/airflow/plugins
--no-index

#--constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.4.3/constraints-3.10.txt"
#.
watchtower~=1.0.6
awswrangler
apache-airflow-providers-dbt-cloud==2.2.0
apache-airflow-providers-snowflake==3.3.0
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-ssh==2.3.0
apache-airflow-providers-amazon==2.4.0
apache-airflow-providers-sftp==2.2.0
boto3
botocore
snowflake-connector-python==2.8.1
snowflake-sqlalchemy==1.4.3
pymssql
paramiko>=2.6.0
sshtunnel<0.5,>=0.3.2
pysftp>=0.2.9
pyodbc==4.0.32
oscrypto<2.0.0
pycryptodomex!=3.5.0,<4.0.0,>=3.2
pyOpenSSL<21.0.0,>=16.2.0
httpx==0.19.0
numpy>=1.17.3
bcrypt>=3.1.3
pynacl>=1.0.1
beautifulsoup4<5.0.0,>=4.7.0
soupsieve>=1.2
newrelic-airflow-plugin
newrelic-telemetry-sdk<0.5,>=0.4.0
et-xmlfile
openpyxl
opensearch-py
pg8000
progressbar2
pyarrow
pymysql
python-utils
requests-aws4auth